<div id="logreg-forms">
  <div class="alert alert-success" *ngIf="success">
    Image uploaded successfully
  </div>
  <form class="form-signin"
    (ngSubmit)="uploadFile(inputDescription.value, inputLocation.value, inputTags.value, inputTags2.value, inputDate.value, loginForm)"
    #loginForm="ngForm">
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Upload Image</h1>
    <input ngModel name="inputPhoto" #inputPhoto="ngModel" type="file" (change)="onFileSelected($event)" required>
    <img class="img-thumbnail" [src]="inputPhoto.valid ? imageSrc : 'http://placehold.it/180'" alt="your image" />

    <input ngModel name="inputDescription" #inputDescription="ngModel" type="text" id="inputDescription"
      class="form-control" placeholder="Description" required>
    <div class="alert alert-danger" *ngIf="inputDescription.touched && !inputDescription.valid">
      <div *ngIf="inputDescription.errors.required">
        Description is required
      </div>
    </div>

    <input ngModel name="inputLocation" #inputLocation="ngModel" type="text" id="inputLocation" class="form-control"
      placeholder="Location" required>
    <div class="alert alert-danger" *ngIf="inputLocation.touched && !inputLocation.valid">
      <div *ngIf="inputLocation.errors.required">
        Location is required
      </div>
    </div>

    <input ngModel name="inputTags" #inputTags="ngModel" type="text" id="inputTags" class="form-control"
      placeholder="Tags" required>
    <div class="alert alert-danger" *ngIf="inputTags.touched && !inputTags.valid">
      <div *ngIf="inputTags.errors.required">
        At least one field of tag is required
      </div>
    </div>

    <input ngModel name="inputTags2" #inputTags2="ngModel" type="text" id="inputTags2" class="form-control"
      placeholder="Tags" [disabled]="inputTags.invalid">

    <input ngModel name="inputDate" #inputDate="ngModel" class="form-control" type="date" id="inputDate"
      required>
    <div class="alert alert-danger" *ngIf="inputDate.touched && !inputDate.valid">
      <div *ngIf="inputDate.errors.required">
        Set a date when the picture was made
      </div>
    </div>

    <input class="btn btn-success btn-block" [disabled]="!loginForm.valid" type="submit" value="Upload Image">
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <hr>
    <a routerLink="/dashboard" class="btn btn-primary btn-block">Go back to dashboard</a>
  </form>

</div>