<div class="container text-center defineLegthPage">
  <h1>Welcome to the Image Manager</h1>
  <div class="align-bottom">
    <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/uploadImage">Upload Image
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/viewImage">View Image
    </button>
    <button (click)="Logout()" type="button" class="btn btn-primary btn-lg btn-block" routerLink="/">Log Out
    </button>
  </div>
</div>