<div id="logreg-forms">
  <form class="form-signin" (ngSubmit)="onSubmit(inputEmail.value, inputPassword.value)" #loginForm="ngForm">
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
    <input ngModel pattern="[^@]+@[^\.]+\..+" name="inputEmail" #inputEmail="ngModel"
      type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
    <div class="alert alert-danger" *ngIf="inputEmail.touched && !inputEmail.valid">
      <div *ngIf="inputEmail.errors.required">
        Email is required
      </div>
      <div *ngIf="inputEmail.errors.pattern">Email is not valid</div>
    </div>
    <input ngModel name="inputPassword" #inputPassword="ngModel" type="password" id="inputPassword" class="form-control" placeholder="Password"
      required>
    <div class="alert alert-danger" *ngIf="inputPassword.touched && !inputPassword.valid">
      <div *ngIf="inputPassword.errors.required">
        Password is required
      </div>
    </div>

    <input class="btn btn-success btn-block" [disabled]="!loginForm.valid" type="submit" value="Sign in">
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <hr>
    <a routerLink="/registration" class="btn btn-primary btn-block"> Sign up New Account</a>
  </form>

</div>