<div class="container text-center defineLegthPage">
  <h1>Home Page</h1>
  <div class="align-bottom">
    <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/login">Login
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/registration">Registration
    </button>
  </div>
</div>