<div>
    <p>You can search using all search options or just one of them</p>
    <div class="row">
        <div class="col-3">
            <input ngModel name="inputDescription" (change)="descriptionOnChange(inputDescription.value)"
                #inputDescription="ngModel" type="text" name="vehicle" value="descriptionSearch">
        </div>
        <div class="col-3">
            <p>Search by description</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <input ngModel name="inputLocation" (change)="locationOnChange(inputLocation.value)"
                #inputLocation="ngModel" type="text" name="vehicle" value="locationSearch">
        </div>
        <div class="col-3">
            <p>Search by location</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <input ngModel name="inputTag" (change)="tagsOnChange(inputTag.value)" #inputTag="ngModel"
                type="text" name="vehicle" value="tagSearch">
        </div>
        <div class="col-3">
            <p>Search by tag</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <button (click)="searchButton()">Search</button>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p>Sort by date:</p>
        </div>
        <div class="col">
            <input ngModel name="inputCheckDate" #inputCheckDate="ngModel" type="checkbox" name="vehicle"
                (click)="sortByDate(inputCheckDate.value)" value="false || this.dateSort">
        </div>
        <div class="col-2">
            <p>Sort by location:</p>
        </div>
        <div class="col">
            <input ngModel name="inputCheckLocation" #inputCheckLocation="ngModel" type="checkbox" name="vehicle"
                (click)="sortByLocation(inputCheckLocation.value)" value={{this.locationSort}}>
        </div>
    </div>
    <button (click)="reloadPage()">ReloadPage</button>
</div>
<div *ngFor="let image of imagesData">
    <div class="row">
        <div class="col">
            <img [src]="'/api/photos/'+ image.img | imageRequest | async" />
        </div>
        <div class="col">
            <p>Posted by: {{image.name}} </p>
            <p>On date {{image.date}}</p>
            <p>Description: {{image.description}}</p>
            <p>Location: {{image.location}}</p>
            <p>Tags: </p>
            <uL *ngFor="let tag of image.tags">
                <li>
                    {{tag}}
                </li>
            </uL>

            <p>RatingAverage: {{image.averageStar}}<p>
                    <star-rating [starType]="'svg'" [rating]="image.averageStar"
                        (starClickChange)="getStars($event, image.img)"></star-rating>
        </div>
        <div class="col">
            <h1>Comments </h1>
            <uL *ngFor="let comment of image.comments">
                <li>
                    {{comment.name}}: {{comment.description}}
                </li>
            </uL>
            <input ngModel name="inputCommnet" #inputCommnet="ngModel" type="text" id="inputTags" class="form-control"
                placeholder="Add new comment" required>
            <button (click)="addCommnet(inputCommnet.value, image.img)">Add</button>
        </div>
    </div>
    <br>
    <br>
</div>
<div class="text-center">
    <button *ngIf="(initialPage > 1)" (click)="goBackPage()">Back</button>
    <button (click)="goToNewPage()">Next Page</button>
</div>