<div id="logreg-forms">

  <form class="form-signup" (ngSubmit)="onSubmit(inputName.value, inputEmail.value, inputPassword.value)"
    #registrationForm="ngForm">
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign up</h1>
    <input ngModel name="inputName" #inputName="ngModel" type="text" id="inputName" class="form-control"
      placeholder="Name" required>
    <div class="alert alert-danger" *ngIf="inputName.touched && !inputName.valid">
      <div *ngIf="inputName.errors.required">
        Name is required
      </div>
    </div>
    <input ngModel pattern="[^@]+@[^\.]+\..+" name="inputEmail" #inputEmail="ngModel" type="email" id="inputEmail"
      class="form-control" placeholder="Email address" required>
    <div class="alert alert-danger" *ngIf="inputEmail.touched && !inputEmail.valid">
      <div *ngIf="inputEmail.errors.required">
        Email is required
      </div>
      <div *ngIf="inputEmail.errors.pattern">Email is not valid</div>
    </div>
    <input ngModel name="inputPassword" #inputPassword="ngModel" type="password" id="inputPassword" class="form-control"
      placeholder="Password" required>
    <div class="alert alert-danger" *ngIf="inputPassword.touched && !inputPassword.valid">
      <div *ngIf="inputPassword.errors.required">
        Password is required
      </div>
    </div>

    <input class="btn btn-success btn-block" [disabled]="registrationForm.invalid" type="submit" value="Sign in">
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </form>

</div>